/*------------------------------------*\
    $COMMON STYLES
\*------------------------------------*/

.clearfix,
%clearfix{
  //IE fix
  *zoom: 1;
}
.clearfix:after,
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
// gMaps scrollfix
/*.scrollFix {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}*/

.b-page__wrapper {
  width: 100%;
  // min-width: 1200px;
  overflow: hidden;
}

.b-content {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  @include minw(1200) {
    padding: 0;
  }
}


.t-uc {
  text-transform: uppercase;
}
.t-b {
  font-weight: bold;
}

.t-sup {
  vertical-align: super;
}


///////// COLORS

$green : #4ecb8c;


.b-block__header {
  margin: 0 auto;
}

.b-block__header-text {
  font: 34px "Cabin-Regular";
  color: #000000;
  text-align: center;
}
.b-block__header-text--white {
  @extend .b-block__header-text;
  color: #ffffff;
}
.b-block__header-text--black {
  @extend .b-block__header-text;
  color: #000000;
}

@include minw(768) {
  .b-block__header-text {
    font: 48px "Cabin-Regular";
  }
}